<div class="container">
    <h3 style="text-transform: uppercase;">
        <u>Home loan features</u>
    </h3>
    <h5>
        When choosing a home loan, the interest rate is not the only consideration; other features associated with your loan can
        also be important.
    </h5>
    <hr>
    <h5>
        All-in-one home loans
    </h5>
    <p>
        All-in-one home loans use your savings to reduce the interest charged on your home loan balance, which in turn reduces
        the overall cost of your home loan. <br><br>
        
        Also known as a home equity loan, all-in-one loans are a combination home loan and daily transaction account in one.
        They work by depositing your salary and other income directly into your home loan account, and then as you need money,
        you withdraw it via ATM, EFTPOS or credit card. You can also set up direct debits from your All-In-One account just like
        a regular transaction account. <br><br>
        
        Any leftover funds surplus to your repayment requirements at the end of the month are credited against your home loan
        balance, reducing the interest charged.
        
        An all-in-one home loan suits only disciplined borrowers able to stick to a budget or seasoned investors. The interest
        rate on all-in-one loans may be slightly higher than the standard variable rate and you may also be charged a monthly
        access or account fee.
        
        All-in-one loans are similar to line of credit loans and offset accounts. To assess your requirements and to negotiate a
        competitive deal, talk to your Loan Market mortgage adviser
    </p><br><br>
    <h5>
        Redraw facility
    </h5>
    <p>
        A redraw facility allows you to access additional funds paid into your home loan if you need extra money, up to the
        amount of the additional repayments. This feature is generally not available with fixed-rate home loans.
    </p><br><br>
    <h5>
        Home loan offset account/salary credi
    </h5>
    <p>
        An offset account is a savings account which is attached to your home loan account. <br><br>
        
        It works by either: <br>
        Subtracting your account balance from your outstanding home loan principal when calculating the daily interest charges.
        For example, if you have a $300,000 mortgage and $20,000 in your offset savings account, you will only be charged
        interest on $280,000 even though your “loan balance” is $300,000; OR
        Applying the interest earned on your account to your home loan balance. From a taxation perspective, interest paid to
        your savings account is taxable, but the same interest used to offset home loan interest is not, so you effectively save
        tax and reduce your home loan at the same time. <br><br>
        
        Look for lenders who offer 100% offset. Also note that some lenders require a minimum balance to be in your account
        before offset applies. Your Loan Market mortgage adviser will ensure you maximise your savings with the right account
        set-up. <br><br>
        
        Salary credit works in a similar way to offset, by allowing you to pay your salary directly into your home loan account.
        You then redraw funds as you need them to pay day-to-day expenses. With interest calculated daily, this effectively
        reduces the principal amount owing for the time your salary is in the account, thereby reducing the amount of interest
        paid.

    </p><br><br>
</div>
