<div class="container">
    <form [formGroup]="customerApplicationDTO" (ngSubmit)="onSubmit()">
        <div formGroupName="customer">
            <div class="form-group">
                <label for="email">EmailID</label>
                <input type="text" formControlName="email" placeholder="Email" id="email" class="form-control">
            </div>
        </div>
        <div formGroupName="application">
            <div class="col-md-2">

            </div>
            <div class="col-md-8" style="padding :50px;">
                <h3>Property Details</h3>
                <div class="form-group">
                    <label for="proLoc">Property Location</label>
                    <input type="text" formControlName="proLoc" placeholder="Property Location" id="proLoc" class="form-control">
                </div>
                <div class="form-group">
                    <label for="proName">Property Name</label>
                    <input type="text" formControlName="proName" placeholder="Property Name" id="proName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="estAmt">Estimated Amount</label>
                    <input type="text" formControlName="estAmt" placeholder="Estimated Amount" id="estAmt" class="form-control">
                </div><br>
                <hr><hr>
                <h3>Income Details</h3>
                <div class="form-group">
                    <label for="toe">Type of Employement</label>
                    <input type="text" formControlName="toe" placeholder="Designation" id="toe" class="form-control">
                </div>
                <div class="form-group">
                    <label for="retirAge">Retirement in years</label>
                    <input type="text" formControlName="retirAge" placeholder="Years due retirement" id="retirAge" class="form-control">
                </div>
                <div class="form-group">
                    <label for="org">Organization</label>
                    <input type="text" formControlName="org" placeholder="Organization" id="org" class="form-control">
                </div>
                <div class="form-group">
                    <label for="empName">Full Name</label>
                    <input type="text" formControlName="empName" placeholder="Full Name" id="empName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="salary">Salary per month</label>
                    <input type="text" class="form-control" id="salary" placeholder="Salary per month">
                </div>
                <hr><hr>
                <h3 style="padding: 50px;">Personal details</h3>
                <div class="form-group">
                    <label for="dob">DOB</label>
                    <input type="text" formControlName="dob" id="dob" class="form-control">
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <input type="radio" class="form-control" id="gender" formControlName="gender" value="male"> Male<br>
                    <input type="radio" class="form-control" id="gender" formControlName="gender" value="female"> Female<br>
                </div>
                <div class="form-group">
                    <label for="nationality">Nationality</label>
                    <input type="text" class="form-control" id="nationality" formControlName="nationality" placeholder="Nationality">
                </div>
                <div class="form-group">
                    <label for="aadharno">Aadhar Nummber</label>
                    <input type="text" id="aadharno" formControlName="aadharno" placeholder="Aadhar Number" class="form-control">
                </div>
                <div class="form-group">
                    <label for="panno">Pan number</label>
                    <input type="text" id="panno" class="form-control" placeholder="Pan Number" formControlName="panno">
                </div>
                <hr>
                <h3 style="padding: 50px;">Loan Details</h3>
                <div formGroupName="loans">
                    <div class="form-group">
                        <label for="maxLoanamt">Maximum Loan Amount</label>
                        <input type="text" id="maxLoanamt" formControlName="maxLoanamt" class="form-control" readonly
                            value="4000000000">
                    </div>
                    <div class="form-group">
                        <label for="loanAmt">Loan Amount</label>
                        <input type="text" id="loanAmt" formControlName="loanAmt" class="form-control"
                            placeholder="Loan amuont">
                    </div>
                    <div class="form-group">
                        <label for="tenure">Tenure</label>
                        <input type="number" id="tenure" formControlName="tenure" class="form-control" placeholder="Tenure">
                    </div>
                    <div class="form-group">
                        <label for="roi">Rate of Interest</label>
                        <input type="text" formControlName="roi" id="roi" class="form-control" readonly value="8.5">
                    </div>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>