<div class="container">
    <h4>
        Our Home Loan
    </h4>
    <div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Trust</li>
            <li class="list-group-item">Transparency</li>
            <li class="list-group-item">Integrity</li>
            <li class="list-group-item">Excellence</li>
        </ul>
    </div> <br><br><br>
    <h4>
        Value to customers
    </h4>
    <div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Wide Product Range</li>
            <li class="list-group-item">Interest Calculation on Daily Reducing Balance</li>
            <li class="list-group-item">Overdraft Facility available</li>
            <li class="list-group-item">Low Interest Rates</li>
            <li class="list-group-item">Low Processing Fees</li>
            <li class="list-group-item">No Hidden Costs</li>
            <li class="list-group-item">No Pre-payment penalty</li>
        </ul>
    </div> <br><br>
    <h4>
        Our Presence
    </h4>
    <div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">24,000+ branches</li>
            <li class="list-group-item">1600+ member strong dedicated Sales Team</li>
        </ul>
    </div> 
</div>
