<!-- <h4 class="bg-info opacity-2 w-25 p-3">Eligibility Calculator</h4>
<div class="container">
    <div class="row ">
        <form>
            <div class="form-group">
                <label for="MonthlyIncome">Monthly Income</label>
                <input type="text" class="form-control" id="MonthlyIncome">
            </div>
            <div class="form-group">
                <label for="ROI">ROI</label>
                <input type="text" class="form-control" id="ROI">
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Calculate</button>
            </div>
            <div class="form-group">
                <label for="Eligibility">Eligibility</label>
                <input type="text" class="form-control" id="Eligibility">
            </div>
        </form>
    </div>
</div> -->
<div class="container">
    <div class="row">
        <div class="col-sm-5 col-sm-offset-2 border border-info rounded jumbotron">
            <h4 class="bg-info w-50 p-2" style="color: white;">Eligibility calculator</h4>
            <form>
                <div class="form-group col-xs-4">
                    <label for="MonthlyIncome">Monthly Income</label>
                    <input type="text" class="form-control" id="MonthlyIncome">
                </div>
                <div class="form-group col-xs-4">
                    <label for="ROI">ROI</label>
                    <input type="text" class="form-control" id="ROI">
                </div>
                <div class="form-group col-xs-4">
                    <button class="btn btn-success btn-large" routerLink="">Calculate</button>
                </div>
                <div class="form-group col-xs-4">
                    <label for="Eligibility">Eligibility</label>
                    <input type="text" class="form-control" id="Eligibility">
                </div>
            </form>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5 col-sm-offset-2 border border-info rounded jumbotron">
            <h4 class="bg-info w-50 p-2" style="color: white;">EMI Calculator</h4>
            <form>
                <div class="form-group col-xs-4">
                    <label for="Loan">Loan</label>
                    <input type="text" class="form-control" id="Loan">
                </div>
                <div class="form-group col-xs-4">
                    <label for="Tenure">Tenure</label>
                    <input type="text" class="form-control" id="Tenure">
                </div>
                <div class="form-group col-xs-4">
                    <label for="ROI1">ROI</label>
                    <input type="text" class="form-control" id="ROI1">
                </div>
                <div class="form-group ">
                    <button class="btn btn-success btn-large" routerLink="">Calculate</button>
                </div>
                <div class="form-group ">
                    <label for="EMI">EMI</label>
                    <input type="text" class="form-control" id="EMI">
                </div>
            </form>
        </div>
    </div>
</div>
<router-outlet></router-outlet>