<div class="container">
    <div class="row">
        <div class="col-sm-1 col-sm-offset-2">
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5 col-sm-offset-2 border border-info rounded jumbotron">
            <h4 class="bg-info w-50 p-2" style="color: white;">EMI Calculator</h4>
            <form>
                <!-- <div class="form-group col-xs-4">
                    <label for="Monthly">Monthly Income</label>
                    <input type="text" class="form-control" id="Monthly" #Monthly>
                </div> -->
                <div class="form-group col-xs-4">
                    <label for="Loan" >Loan</label>
                    <input type="text" class="form-control" id="Loan" #LOAN>
                </div>
                <div class="form-group col-xs-4">
                    <label for="Tenure">Tenure</label>
                    <input type="text" class="form-control" id="Tenure" #TENURE>
                </div>
                <div class="form-group col-xs-4">
                    <label for="ROI1">ROI</label>
                    <input type="text" class="form-control" id="ROI1" #ROI>
                </div>
                <div class="form-group ">
                    <button class="btn btn-success btn-large" type="button" (click)="onEMI(LOAN.value,TENURE.value,ROI.value)">Calculate</button>
                </div>
                <h3 *ngIf="bool">{{currentVal | currency: 'INR'}}</h3>
            </form>
        </div>
        <div class="col-sm-1 col-sm-offset-2 ">
        </div>
    </div>
</div>
