form {
  margin-top: 5%;
  /* box-shadow: -1px 1px 60px 10px rgba(15, 2, 2, 0.3); */
  /* background: rgba(37, 37, 37, 0.521); */
}
/* .form-group {
  color: white;
} */
input {
  background: transparent;
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid black;
}
