<div class="container">
    <div class="row">
        <div class="col-sm-7 ">
            <img [src]="myLoginPicture" alt="" width="100%" height="100%">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <form style="padding: 10px ;" (ngSubmit)="onSubmit()" [formGroup]="form">
                <h3 style="padding-left:100px">Sign-Up</h3>
                <div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" [(ngModel)]="customer.email" id="email" class="form-control" name="email"
                            formControlName="email"
                            [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}">


                        <div *ngIf="form.get('email').touched && form.get('email').invalid " class="invalid-feedback">
                            <div *ngIf="form.get('email').errors.required">Email is required</div>
                            <div *ngIf="form.get('email').errors.email">Email must be a valid Email Addres</div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" [(ngModel)]="customer.password" class="form-control" id="Password"
                            name="pass" formControlName="password"
                            [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}">

                        <div *ngIf="form.get('password').touched && form.get('password').invalid"
                            class="invalid-feedback">
                            <div *ngIf="form.get('password').errors.required">Password is required</div>
                            <div *ngIf="form.get('password').errors.minlength">Password must be atleast 6 characters
                            </div>

                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Login</button>
                </div>
            </form>
            <a routerLink="/admin-user">Are you an Admin?</a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>