<div class="container">
    <form  #applicationForm="ngForm" (ngSubmit)="applyNow()" ngNativeValidate>
        <div class="row">
            <div class="col-md-1">
    
            </div>
            <div class="col-md-4 shadow-lg p-3 mb-5 bg-white rounded">
                <h3>PROPERTY DETAILS</h3>
                <hr width="100%">
                <div class="form-group">
                    <label  class="form-label">Property Location</label>
                    <input type="text" name="proLoc" class="form-control" required #proLoc="ngModel" [(ngModel)]="customerApplicationDTO.proLoc" [ngModelOptions]="{standalone: true}"  placeholder="Location" ngDefaultControl>
                </div>
                <div class="form-group">
                    <label class="form-label">Property Name</label>
                    <input type="text" name="proName" class="form-control" required #proName="ngModel" [(ngModel)]="customerApplicationDTO.proName" [ngModelOptions]="{standalone: true}"  placeholder="Name" ngDefaultControl>
                </div>
                <div class="form-group">
                    <label class="form-label">Estimated Amount</label>
                    <input type="number" name="estAmt" class="form-control" required #estAmt="ngModel" [(ngModel)]="customerApplicationDTO.estAmt" [ngModelOptions]="{standalone: true}"  placeholder="Amount" ngDefaultControl> 
                </div>
            </div>
            <div class="col-md-2">
    
            </div>
            <div class="col-md-4 shadow-lg p-3 mb-5 bg-white rounded">
                <h3>INCOME DETAILS</h3>
                <hr>
                <div class="form-group">
                    <label class="form-label">TypeOfEmployement</label>
                    <input type="text" name="appToe" class="form-control" required #appToe="ngModel" [(ngModel)]="customerApplicationDTO.appToe" [ngModelOptions]="{standalone: true}" placeholder="TOE" ngDefaultControl>
                </div>
                <div class="form-group">
                    <label  class="form-label">Retirement Age</label>
                    <input type="number" name="retirAge" class="form-control" required #retirAge="ngModel" [(ngModel)]="customerApplicationDTO.retirAge" [ngModelOptions]="{standalone: true}" placeholder="Age" ngDefaultControl>
                </div>
                <div class="form-group">
                    <label  class="form-label">Organization Type: </label>
                 <select id="org" class="form-control" name="org">
                <option value="Salaried" class="form-control" required #org="ngModel" [(ngModel)]="customerApplicationDTO.org" [ngModelOptions]="{standalone: true}" ngDefaultControl>Salaried</option>
             <option value="Self-Employed" class="form-control" required #org="ngModel" [(ngModel)]="customerApplicationDTO.org" [ngModelOptions]="{standalone: true}" ngDefaultControl>Self-Employed</option>
             </select>

                </div>
                <div class="form-group">
                    <label  class="form-label">Employer Name</label>
                    <input type="text" name="empName" class="form-control" required #empName="ngModel" [(ngModel)]="customerApplicationDTO.empName" [ngModelOptions]="{standalone: true}" placeholder="Name" ngDefaultControl>
                </div>
            </div>
            <div class="col-md-1">
    
            </div>
        </div>
        <div class="row">

        </div>
        <div class="row">
            <div class="col-md-4">
    
            </div>
            <div class="col-md-4 shadow-lg p-3 mb-5 bg-white rounded">
                <h3>LOAN REQUUIREMENTS</h3>
                <hr>
                <div class="form-group">
                    <label  class="form-label">Max Loan Amount Grantable</label>
                    <input type="text" class="form-control" id="Mamt" placeholder="Maxamt" readonly value="100000000" >
                </div>
                <div class="form-group">
                    <label  class="form-label">Interest Rate</label>
                    <input type="number" class="form-control" id="Irate" value="8.5" readonly>
                </div>
                <div class="form-group">
                    <label for="form-label">Salary</label>
                    <input type="number" class="form-control" id="Isal" required #salary="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="customerApplicationDTO.salary" ngDefaultControl placeholder="Salary">
                </div>
                <div class="form-group">
                    <label  class="form-label">Tenure</label>
                    <input type="number" name="tenure" class="form-control" required #tenure="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="customerApplicationDTO.tenure" ngDefaultControl placeholder="Tenure in years">
                </div>
                <div class="form-group">
                    <label  class="form-label">Loan Amount</label>
                    <input type="number"  name="loanAmt" class="form-control" required #loanAmt="ngModel" [(ngModel)]="customerApplicationDTO.loanAmt" [ngModelOptions]="{standalone: true}" placeholder="Loan Amount" ngDefaultControl>
                </div>
            </div>
            <div class="col-md-4">
    
            </div>
        </div>
        <div class="row">

        </div>
        <div class="row">
            <div class="col-md-1">
    
            </div>

            <div class="col-md-4 shadow-lg p-3 mb-5 bg-white rounded">
                <h3>PERSONAL DETAILS</h3>
                <hr>
                <div class="form-group">
                    <label  class="form-label">DOB</label>
                    <input type="date"name="dob" class="form-control" required #dob="ngModel" [(ngModel)]="customerApplicationDTO.dob"  placeholder="DateOfBirth" [ngModelOptions]="{standalone: true}" ngDefaultControl>
                </div>
                <div class="form-group">
                    <label  class="form-label">Gender</label>
                    <input type="radio" class="form-control" name="gender"  value="male" required #gender="ngModel" [(ngModel)]="customerApplicationDTO.gender" [ngModelOptions]="{standalone: true}" ngDefaultControl> Male<br>
                    <input type="radio" class="form-control" name="gender" value="female" required #gender="ngModel" [(ngModel)]="customerApplicationDTO.gender" [ngModelOptions]="{standalone: true}" ngDefaultControl> Female<br>
                </div>
                <div class="form-group">
                    <label  class="form-label">Nationality</label>
                    <input type="text" name="nationality" class="form-control" required #nationality="ngModel" [(ngModel)]="customerApplicationDTO.nationality" [ngModelOptions]="{standalone: true}" placeholder="Nationality" ngDefaultControl>
                </div>
                <div class="form-group">
                    <label  class="form-label">Aadhaar Number</label>
                    <input type="number" name="aadharno" class="form-control" required #aadharno="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="customerApplicationDTO.aadharno"  placeholder="Aadhaar" ngDefaultControl ngDefaultControl> 
                </div>
                <div class="form-group">
                    <label  class="form-label">Pan Number</label>
                    <input type="text" name="panno" class="form-control" required #panno="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="customerApplicationDTO.panno"  placeholder="Pan Number" ngDefaultControl>
                </div>
            </div>
            <div class="col-md-2">
    
            </div>
            <div class="col-md-4 shadow-lg p-3 mb-5 bg-white rounded">
                <h3>DOCUMENTS</h3>
                <hr>
                <div class="form-group">
                    <label for="Aadhar">Aadhar</label>
                    <input type="file" class="form-control" id="Aadhar"><br>
                    <button class="btn btn-primary" id="UAadhar">UPLOAD</button>
                </div>
                <div class="form-group">
                    <label for="Pan">Pan</label>
                    <input type="file" class="form-control" id="Pan"><br>
                    <button class="btn btn-primary" id="UPan">UPLOAD</button>
                </div>
                <div class="form-group">
                    <label for="agreement">VoterID</label>
                    <input type="file" class="form-control" id="agreement"><br>
                    <button class="btn btn-primary" id="Uagreement">UPLOAD</button>
                </div>
                <div class="form-group">
                    <label for="LOA">Letter of Agreement</label>
                    <input type="file" class="form-control" id="LOA"><br>
                    <button class="btn btn-primary" id="ULOA">UPLOAD</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <button class="btn btn-success btn-block">Submit</button>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </form>
</div>