<div class="bg-img">
    <div class="row">
        <div class="col-md-4">
            <!-- <p class="text-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt alias, adipisci laudantium quis
                explicabo repudiandae doloremque voluptate labore ducimus voluptatibus maxime, nisi deserunt vel voluptatum
                delectus laboriosam porro voluptas harum tenetur molestiae nobis. Ut accusantium odit soluta aliquid saepe,
                sapiente quae temporibus repellat asperiores esse accusamus dolore quod recusandae molestias?</p> -->
        </div>
        <div class="col-md-4 mandy" style="color: white;">
            <h3 align="center">Register for Account</h3>
            <hr color="white" width="55%">
            <form style="padding: 10px;" #myForm="ngForm" [formGroup]="CustomerForm" (ngSubmit)="onSubmit()" >
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="firstName" formControlName="firstName">
                    <div *ngIf="!CustomerForm.controls.firstName?.valid && myForm.submitted " [ngStyle]="{'color':'red'}">
                        FirstName is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="middleName">Middle Name</label>
                    <input type="text" class="form-control" name="middleName" id="middleName" formControlName="middleName">
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="lastName" formControlName="lastName">
                    <div *ngIf="!CustomerForm.controls.lastName?.valid && myForm.submitted" [ngStyle]="{'color':'red'}">
                        Last Name is required
                    </div>
                </div>


                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" id="email" formControlName="email">
                    <div *ngIf="!CustomerForm.controls.email?.valid && myForm.submitted" [ngStyle]="{'color':'red'}">
                        email is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="MobileNumber">Mobile Number</label>
                    <input type="text" class="form-control" name="mobileNumber" id="mobileNumber" formControlName="mobileNumber">
                    <div *ngIf="!CustomerForm.controls.mobileNumber?.valid && myForm.submitted" [ngStyle]="{'color':'red'}">
                        Mobile Number is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" formControlName="password">
                    <div *ngIf="!CustomerForm.controls.password?.valid && myForm.submitted" [ngStyle]="{'color':'red'}">
                        Password is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="ConformPassword">Conform Password</label>
                    <input type="password" class="form-control" id="ConformPassword">
                </div>

                <div class="form-group">
                    <label for="pinCode">Pin Code</label>
                    <input type="text" class="form-control" (click)="onClick()" name="pinCode" id="pinCode" formControlName="pinCode">
                    <div *ngIf="!CustomerForm.controls.pinCode?.valid && myForm.submitted" [ngStyle]="{'color':'red'}">
                        Pin Code is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="toe">Type Of Employement</label>
                    <input type="text" class="form-control" name="toe" id="toe" formControlName="toe">
                    <div *ngIf="!CustomerForm.controls.toe?.valid && myForm.submitted" [ngStyle]="{'color':'red'}">
                        Type of Employement is required
                    </div>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
